body {
	background-color: black;
}

.parallax-container {
	height: 600px;
}

#pr-1,
#pr-5 {
	height: 1000px;

}

nav {
	background: black;
	opacity: 1;

}

#main {}

#name-log {
	font-family: 'Anton', sans-serif;
	font-size: 33px;
	letter-spacing: 2px;
	color: firebrick;
	border: none;
	margin-left: 15px;
}

#menu li {
	color: darkgrey;
	font-family: 'Saira Extra Condensed', sans-serif;
}

#menu li a {
	font-size: 25px;
	margin-left: 4px;
	transition: 0.5s linear;
}

#menu li a:hover {
	color: firebrick;
}

.modal-content {
	background-color: black;
}

#modal1 {
	background-color: black;
}

.bio {
	margin-left: 15px;
}

.bio li {
	color: darkgrey;
	font-family: 'Saira Extra Condensed', sans-serif;
	font-size: 50px
}

#modal1 {
	border: 3px solid white;
	height: 500px;

}
